/* Ajustes no CSS para alinhar o conteúdo à esquerda */

body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #000000;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header .header-container {
  display: flex;
  justify-content: space-between; /* Ajustado para centralizar o conteúdo entre o logo e a navegação */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  margin: 0 auto;
  padding: 0 30px;
}

header .logo img {
  height: 60px;
  margin-right: 20px;
}

/* Modificações no CSS para alinhar o conteúdo da left-nav à esquerda e right-nav à direita */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul.left-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav ul.left-nav li {
  margin-right: 20px;
}

nav ul.right-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav ul.right-nav li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  color: rgb(108, 119, 214);
}

nav ul li.logout-link {
  margin-right: 0; /* Remova a margem direita para o logout-link */
}

nav ul li.logout-link a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

nav ul li.logout-link a:hover {
  color: rgb(108, 119, 214);
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}

form {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.edit-password {
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

form input[type="text"],
form input[type="file"],
form input[type="date"] {
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

input[type="checkbox"] {
  display: flex;
  margin: 0;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 3%;
}

form button[type="submit"] {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  width: 180px;
}

form button[type="submit"]:hover {
  background-color: #555;
}

form input[type="submit"] {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  width: 180px;
}

form input[type="submit"]:hover {
  background-color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.register_back {
  display: flex;
  justify-content: space-between;
}

.register_back a {
  text-decoration: none;
}

.register_back a img {
  width: 50px;
}

/* CSS styles for the Edit button */
.edit-button {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
}

/* CSS styles for the Delete button */
.delete-button {
  background-color: #e74c3c;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
}

.edit-button-disabled,
.delete-button-disabled {
  background-color: #40c2c2;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
}

.buttons-collumn {
  text-align: center;
}

.password-cell {
  position: relative;
}

.password-input {
  width: 100%; /* Faz com que o input ocupe 100% da largura da célula */
  box-sizing: border-box; /* Inclui a largura da borda e do preenchimento no cálculo total da largura */
}
